mixin div(id)
  div(id=id)

doctype html
html(lang="en")
  head
     title= pageTitle
 
  body
     h1 Sonos jukebox
     |Sonos IP address 
     input#sonosip(type=type, value='NOT SET')
     button(
     type='button'
     onclick="SetConfig('sonos', 'sonosip')"
     ) update     
script(src="//code.jquery.com/jquery-2.1.4.min.js")
script(src="/javascripts/main.js")