mixin SelectionRow(number)
  tr
    td= number
    td
      input(id='artist_'+number, type=type, value='', cols=20)
    td
      input(id='title_'+number, type=type, value='', cols=20)
    td
      button(
        type='button'
        onclick="UpdateSelection(" + i +")"
        id='update_'+number
      ) update      

doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/modal.css')
  body
     h1 Sonos jukebox
     |Sonos IP address 
     input#sonosip(type=type, value='NOT SET')
     button(
     type='button'
     onclick="SetConfig('sonos', 'sonosip')"
     ) update
     p

     #outerAccordian.panel-group
      div(class="panel panel-default")
        div(class="panel-heading")
          h4.panel-title
            a( data-toggle="collapse" data-parent="#outerAccordian" href="#searchAccordian") Search
        #searchAccordian(class="panel-collapse collapse in")
          div("class=panel-body")
            input#searchString(type=type, value='')
            button(
            type='button'
            onclick="Search()"
            ) search
     
            #accordian.panel-group
              div(class="panel panel-default")
                div(class="panel-heading")
                  h4.panel-title
                    a( data-toggle="collapse" data-parent="#accordian" href="#sonosReturned") Sonos Results
                #sonosReturned(class="panel-collapse collapse in")
                  div(class="panel-body")
                    #sonosTotal
                    table#sonosResults.resultsTable
                    #sonosResultPage
                    button#sonosPrevious(
                    type='button'
                    hidden='true'
                    ) previous
                    button#sonosNext(
                    type='button'
                    hidden='true'
                    ) next
            
              div(class="panel panel-default")
                div(class="panel-heading")
                  h4.panel-title
                    a( data-toggle="collapse" data-parent="#accordian" href="#spotifyReturned") Spotify Results
                #spotifyReturned(class="panel-collapse collapse")
                  div(class="panel-body")
                    #spotifyTotal
                    table#spotifyResults.resultsTable
                    #spotifyResultPage
                    button#spotifyPrevious(
                    type='button'
                    hidden='true'
                    ) previous
                    button#spotifyNext(
                    type='button'
                    hidden='true'
                    ) next
        
      div(class="panel panel-default")
        div(class="panel-heading")
          h4.panel-title
            a( data-toggle="collapse" data-parent="#outerAccordian" href="#Favourites") Favourites
        #Favourites.collapse(class="panel-collapse collapse")
          div(class="panel-body")
            table#favouriteResults.resultsTable
        
        
      div(class="panel panel-default")
        div(class="panel-heading")
          h4.panel-title
            a( data-toggle="collapse" data-parent="#outerAccordian" href="#Assignments") Assignments
        #Assignments.collapse(class="panel-collapse collapse")
          div(class="panel-body")
            #selectionMessage Please select a letter to view selections
            ul.nav.nav-tabs
                li.letterSelection: a(href="#A") A
                li.letterSelection: a(href="#B") B
                li.letterSelection: a(href="#C") C
                li.letterSelection: a(href="#D") D
                li.letterSelection: a(href="#E") E
                li.letterSelection: a(href="#F") F
                li.letterSelection: a(href="#G") G
                li.letterSelection: a(href="#H") H
                li.letterSelection: a(href="#J") J
                li.letterSelection: a(href="#K") K
            #DefaultSelection
            #LetterSelection
              table
                thead
                  tr
                    th selection 
                    th(style = "text-align: center;") artist
                    th(style = "text-align: center;") title
                - for (var i = 1; i < 9; ++i)
                  +SelectionRow(i)
                +SelectionRow(0)

      div(class="panel panel-default")
        div(class="panel-heading")
          h4.panel-title
            a( data-toggle="collapse" data-parent="#outerAccordian" href="#PrintStrips") Print strips
        #PrintStrips.collapse(class="panel-collapse collapse")
          div(class="panel-body") There are 40 tracks printed per page - PDF 1 is tracks A1 to D10, PDF 2 is track E1 to H10 and PDF 3 is track I10 to K10 
          form(name="record-entry" id="record-entry" action="http://ripley/simplestripper/printstrips.php" method="post")
            table#printStripsOptions(cellspacing="0" cellpadding="3" border="1")
              thead
                tr
                  th Colour
                  th Background
                  th Font
                  th Print size
              tbody
                tr
                  td
                    input(type="radio" checked="checked" value="red" name="color")
                    span(style="color: rgb(255,0,0)") Red
                    br
                    input(type="radio" checked="checked" value="blue" name="color")
                    span(style="color: rgb(0,0,255)") Blue
                    br
                    input(type="radio" checked="checked" value="purple" name="color")
                    span(style="color: rgb(128,0,128)") Blue
                    br
                    input(type="radio" checked="checked" value="green" name="color")
                    span(style="color: rgb(0,128,0)") Blue
                    br
                  td
                    input(type="radio" value="TRUE" name="background") 
                    |Yes
                    br
                    input(type="radio" checked="checked" value="" name="background") 
                    |No
                    br
                  td
                    input(type="radio" value="Times" name="titlefont") 
                    |Times
                    br
                    input(type="radio" value="Helvetica" name="titlefont") 
                    |Helvetica
                    br
                    input(type="radio" checked="checked" value="Courier" name="titlefont") 
                    |Courier
                    br
                  td
                    input(type="radio" value="small" name="titlesize") 
                    |Small
                    br
                    input(type="radio" checked="checked" value="medium" name="titlesize") 
                    |Medium
                    br
                    input(type="radio" value="large" name="titlesize") 
                    |Large
                    br
            - for (var i = 1; i < 20; ++i)
              input(type="hidden" id='artist_a_' + i,  name='artista[' + i+ ']')
              input(type="hidden" id='title_a_' + i, name='titlea[' + i+ ']')
              input(type="hidden" id='artist_b_' + i, name='artistb[' + i+ ']')
              input(type="hidden" id='title_b_' + i, name='titleb[' + i+ ']')
          button(onclick="printPDF1()" name="submit1" id="submit1") Create PDF 1
          button(onclick="printPDF2()" name="submit" id="submit2") Create PDF 2
          button(onclick="printPDF3()" name="submit3" id="submit3") Create PDF 3
     .modal
script(src="//code.jquery.com/jquery-2.1.4.min.js")
script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
script(src="/javascripts/functions.js")
script(src="/javascripts/main.js")
